{% extends "base.html" %}
{% block content %}

<div class="btn-group" role="group" aria-label="Basic example">
    <form method="POST">
            <button type="button submit" class="btn btn-primary" value="producer1" name="producer">Producer 1</button>
            <button type="button submit" class="btn btn-primary" value="producer2" name="producer">Producer 2</button>
            <button type="button submit" class="btn btn-primary" value="producer3" name="producer">Producer 3</button>
    </form>
</div>

{% endblock %}